body {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}

nav {
    background-color: rgb(15, 18, 52);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 60px;
    padding: 0;
    width: 40%;
}
nav .auth {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 25%;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px 10px;
    margin: 5px 0;
    font-weight: bold;
    background-color: rgb(253, 140, 39);
}

nav span {
    margin-left: 20px;
    color: rgb(253, 140, 39);
    font-weight: bold;
    font-size: 30px;
    padding: 15px 0;
    display: flex;
}

.container {
    margin: auto;
    width: 100%;
    height: 100vh;
}

footer {
    background-color: rgb(15, 18, 52);
    padding: 11px 34px;
    color: #fd8c27;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    text-decoration: none;
    margin: 0 7px;
}

footer a svg {
    font-size: 39px;
    fill: #fd8c27;
}

.auth .logout a {
    margin: 0 10px;
}

main {
    background-color: antiquewhite;
}

#orange {
    background-color: rgb(253, 140, 39);
    color: white;
}

#dark {
    background-color: #2d397a;
    color: white;
}

#button {
    background-color: #00b3ff;
    color: white;
    border-color: #00b3ff;
}

#forgot , #register{
    color: #fc1616;
}
